.App {
  /*text-align: center;*/
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;

}
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 136, 229, 0.533);
  padding: 10px 20px;
  border-bottom: 2px solid #ccc
}

.banner h1 {
  margin: 0;
}

.banner nav {
  display: flex;
  gap: 15px;
}

.banner a {
  text-decoration:none;
  color: #007bff;
}

.banner a:hover {
  text-decoration: underline;
}

.movie-container {
  display: flex;
  margin-top: 20px;
}

.movie-poster {
  max-width: 200px; /* Set a max width for the poster */
  margin-right: 20px; /* Space between poster and text */
}

.movie-details {
  flex: 1; /* Allow the text to take the remaining space */
}

.movie-details h1 {
  color: rgb(0, 0, 0);
}

.movie-details p {
  margin: 5px 0; /* Add some space between paragraphs */
}

.watchlist-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}






